.mainWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 120px 0 0 0 !important;
  align-items: center;
  justify-content: center;
}

@media (max-width: 760px) {
    .mainContent {
        padding: 280px 0 0 0 !important;
    }
  }