@use '../../../assets/variables/variables.colors' as colors;

.footerLayout {
    position: relative;
    top: 0;
    left: 3%;
    width: 100%;
    display: flex;
    padding: 50px 30px;
    align-items: center;
    justify-content: flex-start;
}

.footerInfo {
    width: 80%;
    margin-left: 7%;
}

.footerText {
    width: 100%;
}

.title {
    font-size: 26px;
    font-weight: 700;
    font-family: 'PT Serif', serif;
    color: colors.$color-text-white;
}

.subtitle {
    font-size: 15px;
    font-weight: 500;
    color: colors.$color-text-secondary;
    text-align: start;
}

.imageList {
    width: 100%;
}

.imageCard {
    position: relative;
    width: 25%;
    margin: 5px;
    padding: 40px 30px;
    border: 2px solid colors.$color-border-dark;
    margin-top: 30px;
}

@media (max-width: 1000px) {
    .footerLayout {
        top: 70px;
        left: 50px;
        width: 86%;
        padding: 10px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .footerInfo {
        width: 100%;
        margin-left: 0;
    }

    .imageCard {
        width: 100%;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 120px;
    }
}