@use '@colors/variables.colors' as colors;

.promotionsCardCustom {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    background-size: 100% 640px;
    background-position: bottom;
    background-repeat: no-repeat;
}

.promotionsLayout {
    position: relative;
    top: 0;
    left: 3%;
    width: 100%;
    padding: 50px 30px;
    align-items: center;
    justify-content: flex-start;
}

@media (min-width: 1400px) {
    .promotionsLayout {
        display: flex;
        justify-content: center;
    }
}

.promotionsInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex: 0 0 30%;
    max-width: 30%;
    width: 30%;
    word-wrap: break-word;
    gap: 5px;
}

.subtitle {
    font-size: 15px;
    font-weight: 500;
    color: colors.$color-text-secondary;
    text-align: start;
}

.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    font-family: 'PT Serif', serif;
    color: colors.$color-text-white;
    text-align: start;
}

.imageContainer {
    margin-left: 10%;
}



.promotionImage {
    width: 110% !important;
    height: 700px !important;
    object-fit: cover;
}

@media (max-width: 1000px) {
    .promotionsCardCustom {
        background-size: 900px 800px;
        background-position: 10px 10px;
    }

    .promotionsLayout {
        top: 70px;
        left: 50px;
        width: 86%;
        padding: 10px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .promotionsInfo {
        width: 100%;
    }

    .imageContainer {
        width: 100%;
        height: auto;
    }

    .promotionImage {
        width: 100%;
        height: auto;
    }
}