$color-orange-primary: rgba(254, 121, 46, 1);

$color-green-primary: rgb(165, 203, 76);
$color-gray-dark: rgb(87, 87, 87);

$color-bg-dark: #282828;

$color-text-white: #ffffff;
$color-text-secondary: rgba(159, 159, 159, 1);
$color-text-dark: #444444;

$color-border-dark: #444444;