@use '@colors/variables.colors' as colors;

.row {
    position: relative;
    z-index: 1;
}

.offerCard {
    position: relative;
    height: 610px;
    padding-top: 400px;
    background: #444444 !important;
    border-radius: 0 !important;
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
}

.imageWrapper {
    position: absolute;
    left: 0;
    top: -30px;
    width: 90%;
    height: 500px;
    margin-left: 5%;
    overflow: hidden;
    margin-bottom: 20px;
    isolation: isolate;
}

.image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    transition: transform 1.2s ease;

    &:hover {
        transform: scale(1.2);
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 5px;
}

.title {
    width: 100%;
    font-size: 28px !important;
    font-weight: 700 !important;
    margin-bottom: 15px !important;
    color: colors.$color-text-white !important;
    font-family: "PT Serif", serif;
    border-bottom: 1px solid colors.$color-bg-dark;
}

.date,
.description {
    margin-bottom: 0 !important;
    color: rgba(159, 159, 159, 1) !important;
    font-family: Montserrat, sans-serif;
   
}

@media (max-width: 1000px) {
    .imageWrapper {
        height: 420px;
    }
}

@media (max-width: 768px) {
    .imageWrapper {
        height: 350px;
    }
}