@use '@colors/variables.colors' as colors;

.orangeBtn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 220px;
    padding: 15px 40px;
    height: 50px;
    border-radius: 0;
    overflow: hidden;

    background-color: colors.$color-white !important;
    border: 1px solid colors.$color-orange-primary !important;

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    transition: color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

    // Псевдоэлемент для анимации заливки фона
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: colors.$color-orange-primary;
        z-index: 1; // Поднимаем подложку под текст
        transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    // При наведении заполняем ширину
    &:hover::before {
        width: 100%;
    }

    // Меняем цвет самой кнопки, если нужно
    &:hover {
        border-color: colors.$color-orange-primary !important;
    }
}

.text {
    position: relative;
    z-index: 2; // Текст поверх анимированного фона

    color: colors.$color-text-dark;
    font-size: 16px;
    font-weight: 700;

    transition: color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

    // Когда кнопка в состоянии hover, текст меняет цвет на белый
    .orangeBtn:hover & {
        color: colors.$color-text-white !important;
    }
}