@use '../../../assets/variables/variables.colors' as colors;

.section {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
    min-height: 500px;
    width: 100%;
    padding: 0 50px;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.sectionContainer {
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.container {
    position: relative;
    width: 100%;
    z-index: 1;
}

.containerItem {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    position: relative;
    min-width: 900px;
    margin: 0 auto;
    background-image: url('../../../img/back_small_house.png');
    background-size: 100% 640px;
    background-position: 10px;
    background-repeat: no-repeat;
}

.orangeBlockWrapper {
    position: relative;
    z-index: -1;
}

.orangeBlock {
    width: 200px;
    height: 200px;
    position: absolute;
    display: block;
    background-color: colors.$color-orange-primary;
    margin-top: -30px;
    margin-left: -30px;
}

.containerImg {
    position: relative;
    top: 0;
    left: 3%;
    width: 100%;
    padding: 50px 30px;
    align-items: center;
    justify-content: flex-start;
}

.containerImgLeft {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-width: 30%;
    width: 25%;
    word-wrap: break-word;
    gap: 5px;
}

.primaryText {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    font-family: 'PT Serif', serif;
    color: colors.$color-text-white;
    text-align: start;
}

.description {
    gap: 5px;
}

.secondaryText {
    font-size: 15px;
    font-weight: 500;
    color: colors.$color-text-secondary;
    text-align: start;
}

.imageWrapper {
    margin-left: 15%;
    left: 3%;
}

.image {
    width: 110% !important;
    height: 550px !important;
    object-fit: cover;
}

@media (max-width: 1000px) {
    .containerItem {
        width: 90%;
        margin: 0 5%;
        margin-bottom: 20px;
        background-size: 900px 800px;
        background-position: 10px 10px;
    }

    .containerImg {
        top: 70px;
        left: 50px;
        width: 86%;
        padding: 10px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .containerImgLeft {
        width: 100%;
    }

    .imageWrapper {
        width: 100%;
        height: auto;
    }

    .image {
        width: 100%;
        height: auto;
    }
}