@use '@colors/variables.colors' as colors;

.card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 30px;
}

.imageWrapper {
    flex: 0 0 200px;
    display: flex;
    justify-content: flex-start; 

    :global(.ant-image) {
        display: block;
        width: auto;
    }
}

.image {
    max-width: 140px !important;
    width: 100%;
    height: 140px !important;
    object-fit: cover;
    border-radius: 8px; 
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1;
    font-family: 'PT Serif', serif;
    color: colors.$color-text-white;
    text-align: start;
    margin-bottom: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.descriptionItem {
    font-size: 18px;
    font-weight: 500;
    color: colors.$color-text-secondary;
    text-align: start;
}

.priceColumn {
    flex: 0 0 120px;
    text-align: right;

    .price {
        font-size: 24px;
        font-weight: 700;
        color: colors.$color-orange-primary; 
    }
}